.about-me-section {
    flex-grow: 1;
    max-width: 60vw;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.description {
    margin-top: 3em;
}

.button-section {
    margin-top: 3em;
}


.btn {
    padding: 0.5em 2em;
    background: #ECECEC;
    text-decoration: none;
    color: #2F303A;
    border-radius: 0.5em;
    font-weight: 500;
}

@media (max-width: 900px) {
    .about-me-section {
        max-width: 90vw;
        font-size: 0.75em;
    }

    .button-section,
    .about-me-section .title {
       display: flex;
       align-items: center;
       justify-content: center;
    }
}
