.about-me-section {
    flex-grow: 1;
    max-width: 60vw;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.description {
    margin-top: 2em;
    text-align: justify;
}

.button-section {
    margin-top: 1em;
    display: flex;
    justify-content: center;
}

.skill-bar-section {
    display: flex;
    justify-content: space-between;
    margin-top: 2em;
}

.frontend-skills,
.backend-skills {
    width: 46%;
}

.skill-bar-container {
    margin-bottom: 1em;
    width: 100%;
    height: 20px;
    background-color: #ffffff29;
    border-radius: 1em;
}

.skill-bar {
    height: 20px;
    display: flex;
    padding: 0.2em 1em 0 1em;
    justify-content: space-between;
    align-items: center;
    border-radius: 1em 0.5em 0.5em 1em;
}

.skill-level-70 {
    width: 70%;
}

.skill-level-75 {
    width: 75%;
}

.skill-level-80 {
    width: 80%;
}

.skill-level-85 {
    width: 85%;
}

.skill-level-90 {
    width: 90%;
}

.skill-level-95 {
    width: 95%;
}

.clr-70 {
    background-color: #FBC02D;
    color: black;
}

.clr-75 {
    background-color: #FFEE58;
    color: black;
}

.clr-80 {
    background-color: #CDDC39;
    color: black;
}

.clr-85 {
    background-color: #7CB342;
    color: black;
}

.clr-90 {
    background-color: #7CB342;
    color: black;
}

.clr-95 {
    background-color: #64DD17;
    color: black;
}


@media (max-width: 900px) {
    .about-me-section {
        max-width: 90vw;
        /* font-size: 0.65em; */
    }

    .button-section,
    .about-me-section .title {
       display: flex;
       align-items: center;
       justify-content: center;
    }

    .skill-bar-section {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-top: 2em;
    }

    .frontend-skills,
    .backend-skills {
        width: 100%;
    }
}
