.work-gallery-section {
    flex-grow: 1;
    max-width: 65vw;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.currently-working-section {
    display: flex;
    justify-content: space-between;
    margin-top: 0.5em;
}

.project-name {
    font-size: 0.7em;
}

.project-info .content{
    /* font-size: 0.8em; */
    text-align: justify;
}

.resources ul {
    display: flex;
    justify-content: space-between;
    margin-top: 0.1em;
    padding-inline-start: 20px;
}

.title {
    border-bottom: 1px solid #f9dd76d1;
}

.completed {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    margin-top: 1.5em;
}

.completed-work-section {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}

.completed-work {
    width: 49%;
    padding: 1em;
    display: flex;
    flex-direction: column;
    text-align: justify;
}

.completed-work .name {
    font-size: 1em;
    font-weight: 500;
    color: #ffc800;
}

.site-link {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1em;
}

.site-link .icon {
    font-size: 0.8em;
    margin-right: 0.5em;
}
.site-link a {
    color: lightgray;
    font-size: 0.9em;
    text-decoration: none;
}

.site-link a:hover {
    color: #ffc800;
    font-size: 1em;
    text-decoration: underline;
}

.completed-work:nth-child(even) {
    border-left: 1px solid #b3a7a7;
}

.subtitle {
    font-size: 1em;
    border-bottom: none;
    margin-bottom: 0;
    margin-top: 0;
}

.completed-work .site-link {
        display: flex;
        flex-wrap: wrap;
        margin-top: 1em;
}

.work-gallery-section > p,
.title,
.currently-working-section,
.completed-work-section {
    animation: para 1s forwards;
    position: relative;
    visibility: hidden;
}

.title {
    animation-delay: 1s;
}

.currently-working-section {
    animation-delay: 1.5s;
}

.completed {
    animation-delay: 2.5s;
}

.completed-work-section {
    animation-delay: 3s;
}


@keyframes para {
    0% {
        visibility: visible;
       opacity: 0;
       top: -10px;
    }
    100% {
        visibility: visible;
        opacity: 1;
        top: 0;
    }
}

@media (max-width: 900px) {
    .work-gallery-section {
        max-width: 90vw;
        font-size: 0.85em;
    }

    .completed-work-section {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 100%;
    }

    .completed-work {
        width: 90%;
        margin-bottom: 1em;
    }

    .completed-work:nth-child(even) {
        border-left: none
    }

    .site-link {
        display: flex;
        flex-wrap: wrap;
        margin-top: 1em;
    }
}